// ==========================================================================
// Buttons
// ==========================================================================

.btn {
    display: inline-flex;
    padding: ceil(@padding-base / 1.75) ceil(@padding-base * 1.25);

    .button-styles(@off-white, @gray-lighter);
    border-radius: 4px;
    transition: all 0.3s ease;

    color: @gray-dark;
    text-decoration: none;
    .font-size();
    font-weight: 600;

    &:focus {
        outline: 0;
    }
}
