// ==========================================================================
// Buttons
// ==========================================================================

.button-large {
	padding: (@padding-base / 2) @padding-base;
	background: @blue;
	color: #fff;
	border-color: darken(@blue, 10%);
	.font-size();
	text-shadow: none;

	&:hover,
	&:focus {
		color: #fff;
		border-color: darken(@blue, 15%);
	}
}