// ==========================================================================
// Variables
// ==========================================================================

// Colors
@blue:                      #3498db;
@green:                     #4CB953;
@gray-dark:                 #343f4a;
@gray:                      #55646b;
@gray-light:                #cbd0d3;
@gray-lighter:              #dbe3e8;
@off-white:                 #f2f5f7;

// Base
@body-background-bottom: 	@blue;
@body-background-top: 		@green;

// Fonts
@font-size-small: 			14;

// Elements
@link-color:                #fff;
@padding-base:              20px;

// Breakpoints
@screen-sm:                 480px;
@screen-md:                 768px;

// Radii
@border-radius-base: 		4px;

// Examples
@example-width-audio: 		520px;
@example-width-video: 		1200px;